<div class="ibox float-e-margins">
        <div class="ibox-content" style="border-width: 0px;">
                <div class="row" id="btnWrapper">
           <div class="col-lg-6">
                 <div class="col-xs-6">
                            <div class="form-group">
                                <select class="form-control" id="opptStatus"></select>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <input class="form-control" placeholder="机会名称" type="text" id="name" value="" />
                        </div>
                        <div class="col-xs-1">
                            <button type="button" class="btn btn-default" id="searchchance">
                                <i class="fa fa-search"></i> 查询
                            </button>
                        </div>
              </div>
              <div class="col-lg-6" style="text-align: right;">
                  <div class="btn-group btn-group-sm" role="group" id="Setcontact">
                      <button type="button" class="btn btn-info" id="exportCsOppFile"><i class="fa fa-download" style="margin-right: 4px;"></i>导出</button>
                    </div>
                  </div>
                </div>
            <div class="" style="margin-top:14px;">
                <table id="customerChanceTable" class="table table-striped table-responsive table-hover"></table>
            </div>
        </div>
    </div>
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="chanceSlider" style="position: absolute;top: 0px;">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="row">
                <div class="col-md-7 col-sm-7">
                    <h4 id="cusChancetitle" class="detail_title"></h4>
                    <div style="border-bottom: 1px solid #ededed; position: absolute;width: 100%;left: 0;top: 30px;">
                    </div>
                    <div class="detail_title" id="customerChanceNameDetail" style="margin-top: 24px;"></div>
                    <div class="title_important_info"><span id="status">商机阶段:<a href="javascript:;" id="topOpptStat" data-type="select"  data-placement="right" data-placeholder="必填" class="editable editable-click" style=" padding-left: 4px;"></a></span>
                    </div>
                </div>
                <div class="col-md-5 col-sm-5" style="text-align: right;">
                    <div style="border-bottom: 1px solid #ededed; position: absolute;width: 100%;left: 0;top: 30px;">
                    </div>
                    <a href="javascript:;" id="hrefBack"><i class="fa fa-reply" aria-hidden="true"></i>返回上一级</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ibox-content" style="border-width: 2px 0px;border-color: #dddddd;">
        <ul class="list-unstyled list-inline" style="border-bottom: 1px solid #eaeaea;">

            <li class="">
                <a href="javascript:;"><span id="chanceInfo" class="hvr-underline-from-left active" style="padding-bottom: 10px;"> 详细信息 </span></a>
            </li>
            <li class="">
                <a href="javascript:;"><span id="chanceDynamic" class="hvr-underline-from-left" style="padding-bottom: 10px;"> 跟进动态 </span></a>
            </li>
            <li class="">
                <a href="javascript:;"><span id="chanceContact" class="hvr-underline-from-left" style="padding-bottom: 10px;"> 联系人信息 </span></a>
            </li>
        </ul>
          <div id="" style="max-height: 510px; overflow-y: auto;overflow-x: hidden;">
              <div id="chanceDetail"></div>
          </div>
            
    </div>
</nav>
<script id="organizationTemplate" type="text/template">
                <div class="panel-body">
                        <form class="form-horizontal">

                            <div class="form-group">
                                <label class="col-sm-3 control-label">客户名称 : </label>
                                <div class="col-sm-7 u-word" id="csmName1" style="margin-top:8px"></div>
                            </div>
                            
                             <div class="form-group">
                                <label class="col-sm-3 control-label">机会阶段 : </label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="opptStatId1">

                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
        </script>
<script src="assets/services/common/exportFileService.js"></script>
<script src="assets/services/historyBack.js"></script>
<script src="js/assets/common/bootbox.js"></script>
<script src="js/assets/common/jquery.form.js"></script>
<script type="text/javascript" charset="utf-8">
	function changeOppt(item){
           item = JSON.parse(decodeURIComponent(item));
           curOppt = item.opptStatId;
           bootbox.dialog({
                message: $("#organizationTemplate").html(),
                title: '调整机会阶段',
                className: "",
                buttons: {
                    ok: {
                        label: "提交",
                        className: "btn-success",
                        callback: function () {
                            var opptStatId1 = $('#opptStatId1').val();
                            if(opptStatId1=='') {
                                $.danger('请选择机会阶段');
                                return false;
                            }
                            if(opptStatId1==curOppt) {
                                $.danger('请调整机会阶段');
                                return false;
                            }
                            var param = {
                                opptTtl:item.opptTtl,
                                opptStatId:opptStatId1,
                                id:item.id,
                                customId:item.customId
                            };
                            ajax({
                                url : '/custom/opport/adjust',
                                data : param,
                                success : function(data) {
                                    $.success("调整成功！",null, null, function(){
                                        window.location.reload();
                                    });
                                }
                            });
                        }
                    },
                    "cancel": {
                        label: "取消",
                        className: "btn-default",
                        callback: function () {
                        }
                    }
                },
                complete: function(){
                    $("#opptStatId1").html($("#opptStatId").html());  
                    $('#opptStatId1').val(item.opptStatId); 
                    $("#csmName1").html($("#csmNameTitle").html())
                }
            }); 
        }
</script>
