<section class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1><span id="csmNameTitle"></span></h1>
                    <div class="row" id="btnWrapper">
                        <!-- <div class="col-xs-5"></div> -->
                        <div class="col-xs-2">
                            <div class="form-group">
                                <select class="form-control" id="opptStatId"></select>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <input class="form-control" placeholder="机会名称" type="text" id="name" value="" />
                        </div>
                        <div class="col-xs-1">
                            <button type="button" class="btn btn-default" id="searchchance">
                                <i class="fa fa-search"></i> 查询
                            </button>
                        </div>
                        <!-- <div class="col-xs-1" id="addChance">
                            <a class="btn btn-default purple" id="addChances"><i class="fa fa-plus"></i>添加</a>
                        </div> -->
                        <div class="col-xs-1">
                            <button class="btn btn-default purple" id="exportFile">
                                <i class="fa fa-download"></i>导出
                            </button>
                        </div>
                        <div class="col-xs-1" style="float:right;">
                            <a href="" class="btn btn-default" id="backHref">返回</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table id="datatable" class="table table-bordered table-responsive table-hover "style="margin-bottom: 0px !important;border-bottom: none!important;word-break:break-all;"></table>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script id="organizationTemplate" type="text/template">
                <div class="panel-body">
                        <form class="form-horizontal">

                            <div class="form-group">
                                <label class="col-sm-3 control-label">客户名称 : </label>
                                <div class="col-sm-7 u-word" id="csmName1" style="margin-top:8px"></div>
                            </div>
                            
                             <div class="form-group">
                                <label class="col-sm-3 control-label">机会阶段 : </label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="opptStatId1">

                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
        </script>
<script src="assets/services/common/exportFileService.js"></script>
<script src="assets/services/historyBack.js"></script>
<script src="js/assets/common/bootbox.js"></script>
<script src="js/assets/common/jquery.form.js"></script>
<script type="text/javascript" charset="utf-8">
	function changeOppt(item){
           item = JSON.parse(decodeURIComponent(item));
           curOppt = item.opptStatId;
           bootbox.dialog({
                message: $("#organizationTemplate").html(),
                title: '调整机会阶段',
                className: "",
                buttons: {
                    ok: {
                        label: "提交",
                        className: "btn-success",
                        callback: function () {
                            var opptStatId1 = $('#opptStatId1').val();
                            if(opptStatId1=='') {
                                $.danger('请选择机会阶段');
                                return false;
                            }
                            if(opptStatId1==curOppt) {
                                $.danger('请调整机会阶段');
                                return false;
                            }
                            var param = {
                                opptTtl:item.opptTtl,
                                opptStatId:opptStatId1,
                                id:item.id,
                                customId:item.customId
                            };
                            ajax({
                                url : '/custom/opport/adjust',
                                data : param,
                                success : function(data) {
                                    $.success("调整成功！",null, null, function(){
                                        window.location.reload();
                                    });
                                }
                            });
                        }
                    },
                    "cancel": {
                        label: "取消",
                        className: "btn-default",
                        callback: function () {
                        }
                    }
                },
                complete: function(){
                    $("#opptStatId1").html($("#opptStatId").html());  
                    $('#opptStatId1').val(item.opptStatId); 
                    $("#csmName1").html($("#csmNameTitle").html())
                }
            }); 
        }
</script>
