<div class="row" id="dynamicEdit">
    <div class="col-md-12 col-sm-12">
        <div class="panel">
            <!-- 主体内容 -->
            <div class="">
                <form class="form-horizontal" id="customerDetail">
                    <div class="form-group"style="border-bottom: 1px solid #eff2f7;background: #F9F9F9;padding-bottom: 8px;">
                    <label class="col-sm-2 control-label" style="color: #3C8DBC;"><i class="fa fa-file-text-o" aria-hidden="true" style="margin-right: 6px;"></i>基本信息 </label>
                    <label class="col-sm-2 control-label" style="float: right;"><a href="javascript:;" class="field_edit_pen"><i class="fa fa-pencil" aria-hidden="true" style="margin-right: 4px;"></i>更多信息</a> </label>
                </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">客户名称 : </label>
                      <a href="javascript:;" id="editCsmName" data-type="text" data-placement="right" data-placeholder="必填" class="editable editable-click" ></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">客户状态 : </label>
                        <a href="javascript:;" id="editcsmStatId" data-type="select" data-placement="right" data-placeholder="必填" class="editable editable-click" ></a>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">客户级别 : </label>
                        <a href="javascript:;" id="editLevel" data-type="select" data-placement="right" data-placeholder="必填" class="editable editable-click" ></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">所属团队 : </label>
                        <a href="javascript:;" id="editRegion" data-type="select" data-placement="right" data-placeholder="必填" class="editable editable-click" ></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">行业类别 : </label>
                        <a href="javascript:;" id="editProfession" data-type="select" data-placement="right" data-placeholder="必填" class="editable editable-click" ></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">所属省份 : </label>
                        <a href="javascript:;" id="editProvince" data-type="select" data-placement="right" data-placeholder="必填" class="editable editable-click" ></a>
                    </div>
                    <div class="form-group"style="border-bottom: 1px solid #eff2f7;background: #F9F9F9;padding-bottom: 8px;">
                        <label class="col-sm-2 control-label" style="color: #3C8DBC;"><i class="fa fa-file-text-o" aria-hidden="true" style="margin-right: 6px;"></i>扩展信息 </label>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">客户性质 : </label>
                        <a href="javascript:;" id="editCsmNature" data-type="select" data-placement="right"  class="editable editable-click" ></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">客户规模 : </label>
                        <a href="javascript:;" id="editCsmScale" data-type="select" data-placement="right"  class="editable editable-click" ></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">上级公司 : </label>
                        <a href="javascript:;" id="upperCompanyName" data-type="select" data-placement="right"  class="editable editable-click" ></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">地址 : </label>
                        <a href="javascript:;" id="editaddress" data-type="text" data-placement="right"  class="editable editable-click" ></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">邮编 : </label>
                        <a href="javascript:;" id="editpostcode" data-type="text" data-placement="right"  class="editable editable-click" ></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">官网 : </label>
                        <a href="javascript:;" id="editwebsite" data-type="text" data-placement="right"  class="editable editable-click" ></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">传真 : </label>
                        <a href="javascript:;" id="editfax" data-type="text" data-placement="right"  class="editable editable-click" ></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">备注/需求 : </label>
                        <a href="javascript:;" id="editremark" data-type="textarea" data-placement="right"  class="editable editable-click" ></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">负责人 : </label>
                        <a href="javascript:;" id="editsalesUserId" data-type="text" data-placement="right"  class="editable editable-click" ></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<link href="assets/css/select2.css" rel="stylesheet">
<script src="js/assets/common/select2.min.js"></script>
