<section class="container-fluid">

    <div class="row">

        <div class="col-md-12 col-sm-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>销售机会</h1>
                    <div class="row" id="btnWrapper">
                        <div class="col-md-2">
                            <div class="form-group">
                                <select class="form-control" id="opptStatId">
                                    <option value="">选择机会阶段</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <input class="form-control" placeholder="客户名称/机会名称" type="text" id="name"/>
                        </div>
                        <div class="col-xs-1">
                            <button type="button" class="btn btn-default" id="searchbtn">
                                <i class="fa fa-search"></i> 查询
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table id="datatable" class="table table-bordered table-responsive table-hover"
                    style="margin-bottom: 0px !important;border-bottom: none!important;word-break:break-all;"></table>
                </div>
            </div>
        </div>
    </div>
    <script id="organizationTemplate" type="text/template">
        <div class="panel-body">
        <form class="form-horizontal">

        <div class="form-group">
        <label class="col-sm-3 control-label">客户名称 : </label>
        <div class="col-sm-7 u-word" id="csmName1" style="margin-top:8px;"></div>
        </div>

        <div class="form-group">
        <label class="col-sm-3 control-label">机会阶段 : </label>
        <div class="col-sm-6">
        <select class="form-control" id="opptStatId1">

        </select>
        </div>
        </div>
        </form>
        </div>
    </script>
</section>