<style>
    th {
        text-align: center;
    }
    table {
        text-align: center;
    }
    .col-xs-1 {
        width: 8.333333333333332%;
    }
    .td-ell {
        width: 100%;
        word-break: keep-all;/* 不换行 */
        white-space: nowrap;/* 不换行 */
        overflow: hidden;/* 内容超出宽度时隐藏超出部分的内容 */
        text-overflow: ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一 起使用。*/
    }
</style>
<section class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>我下属的客户</h1>
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <select class="form-control" id="level">

                                </select>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <select class="form-control" id="profession">

                                </select>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <select class="form-control" id="csmNature">

                                </select>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <select class="form-control" id="region">

                                </select>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <select class="form-control" id="csmStatId">

                                </select>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <input class="form-control" placeholder="客户名称/负责人" type="text" id="csmName"/>
                        </div>
                        <div class="col-xs-1">
                            <button type="button" class="btn btn-default" id="searchbtn">
                                <i class="fa fa-search"></i> 查询
                            </button>
                        </div>
                    </div>
                    <div class="row" id="btnWrapper">
                    </div>
                </div>
                <div class="panel-body">
                    <table id="datatable" class="table table-bordered table-responsive table-hover"
                    style="margin-bottom: 0px !important;border-bottom: none!important;word-break:break-all"></table>
                </div>
            </div>
        </div>
    </div>
</section>