<script id="addCustomerTemplate" type="text/template">
<div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">客户名称: </label>
                                <div class="col-sm-6"><input type="text" class="form-control" id="csmName" maxlength="40"/></div>
                                <span class="text-danger">*(客户名称字符个数不能超过40个!)</span>
                            </div>
                             <div class="form-group">
                                <label class="col-sm-2 control-label">所属团队 : </label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="_region" name="region" onchange="javascript:getInd();">
                                        <option value="00">选择所属团队</option>
                                    </select>
                                </div>
                                <span class="text-danger">*(必选!)</span>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">行业类别: </label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="profession">
                                         <option value="00">选择行业类别</option>
                                    </select>
                                </div>
                                <span class="text-danger">*(必选!)</span>
                            </div>
                             <div class="form-group">
                                <label class="col-sm-2 control-label">所属省份: </label>
                                <div class="col-sm-6">
                                     <select id="s_province" name="s_province" selectedindex="0" required class="form-control">      
                                    </select>
                                </div>
                                <span class="text-danger">*(必选!)</span>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">客户状态: </label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="csmStatId">
                                    </select>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">客户级别: </label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="level">
                                    </select>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">客户性质: </label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="csmNature">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">客户规模: </label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="csmScale">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">上级公司: </label>
                                <div class="col-sm-6">
                                    <select type="text" class="form-control selectpicker " id="upperCompany" data-live-search="true">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">地址: </label>
                                <div class="col-sm-6"><input type="text" class="form-control" id="address" /></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">邮编: </label>
                                <div class="col-sm-6"><input type="text" class="form-control" id="postcode" /></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">官网: </label>
                                <div class="col-sm-6"><input type="text" class="form-control" id="website" /></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">传真: </label>
                                <div class="col-sm-6"><input type="text" class="form-control" id="fax" /></div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">备注/需求 : </label>
                                <div class="col-sm-6">
                                    <textarea class="form-control" cols="30" rows="5" id="remark"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
    </script>

