<div class="row">

        <div class="col-md-12 col-sm-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                <h1>线索查看</h1>   
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="form-group">
                                    <select class="form-control" id="profession">
                                       <option value="">选择行业类别</option>   
                                    </select>
                            </div>
                        </div>
                         <div class="col-xs-2">
                            <div class="form-group">
                                    <select class="form-control" id="region">
                                        <option value="">选择所属团队</option>
                                    </select>
                            </div>
                        </div>
                        
                        <div class="col-xs-2">
                            <div class="form-group">
                                    <select class="form-control" id="clueState">
                                        <option value="">选择线索状态</option>
                                    </select>
                            </div>
                        </div>
                         <div class="col-xs-2">
                            <input class="form-control" placeholder="客户名称/联系人" type="text" id="csmName"/>
                        </div>
                         <div class="col-xs-2">
                            <input class="form-control" placeholder="线索负责人" type="text" id="people"/>
                        </div>
                        <div class="col-xs-1">
                            <button type="button" class="btn btn-default" id='searchbtn'><i class="fa fa-search"></i> 查询
                            </button>
                        </div>
                         <div class="row" id="btnWrapper">
                    </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table id="datatable" class="table table-bordered table-responsive table-hover"
                           style="margin-bottom: 0px !important;border-bottom: none!important;word-break:break-all;table-layout: fixed;">
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="js/assets/common/bootbox.js"></script>
<script src="js/assets/common/jquery.form.js"></script>