 <div class="row">

                <div class="col-md-12 col-sm-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1>联系人查看</h1>
                            <div class="row"  id="btnWrapper">
                                <div class="col-xs-2">
                                    <input class="form-control" placeholder="客户名称/联系人" type="text" id="name"/>
                                </div>
                                <div class="col-xs-1" id="view">
                                    <button type="button" class="btn btn-default"  id="searchbtn">
                                        <i class="fa fa-search"></i> 查询
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <table id="datatable" class="table table-bordered table-responsive table-hover"
                            style="margin-bottom: 0px !important;border-bottom: none!important;word-break:break-all"></table>
                        </div>
                    </div>

                </div>

            </div>