<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="panel">
            <!-- 主体内容 -->
            <div class="">
                <form class="form-horizontal" id="detailOpport">
                <div class="form-group"style="border-bottom: 1px solid #eff2f7;background: #F9F9F9;padding-bottom: 8px;">
                    <label class="col-sm-2 control-label" style="color: #3C8DBC;"><i class="fa fa-file-text-o" aria-hidden="true" style="margin-right: 6px;"></i>基本信息 </label>
                </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">商机名称 : </label>
                         <a href="javascript:;" id="opptTtl" data-type="text"  data-placement="right" data-placeholder="必填" class="editable editable-click"></a> 
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">商机阶段 : </label>
                         <a href="javascript:;" id="opptStat" data-type="text"  data-placement="right" data-placeholder="必填" class="editable editable-click editable-disabled"></a>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">预计金额 : </label>
                         <a href="javascript:;" id="vndtAmt" data-type="text"  data-placement="right" data-placeholder="必填" class="editable editable-click"></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">发现日期 : </label>
                         <a href="javascript:;" id="startDate" data-type="text"  data-placement="right" data-placeholder="必填" class="editable editable-click"></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">预计结单日期 : </label>
                         <a href="javascript:;" id="sttlDate" data-type="text"  data-placement="right" data-placeholder="必填" class="editable editable-click"></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">客户名称 : </label>
                        <a href="javascript:;" id="csmName" data-type="text"  data-placement="right" data-placeholder="必填" class="editable editable-click editable-disabled"></a>
                    </div>
                <div class="form-group"style="border-bottom: 1px solid #eff2f7;background: #F9F9F9;padding-bottom: 8px;">
                        <label class="col-sm-2 control-label" style="color: #3C8DBC;"><i class="fa fa-file-text-o" aria-hidden="true" style="margin-right: 6px;"></i>扩展信息 </label>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">商机来源 : </label>
                         <a href="javascript:;" id="Source" data-type="select"  data-placement="right" data-placeholder="必填" class="editable editable-click"></a>
                    </div>
                    <div class="form-group" id="meeting">
                        <label class="col-sm-2 control-label">会议名称 : </label>
                         <a href="javascript:;" id="conferenceName" data-type="text"  data-placement="right" data-placeholder="必填" class="editable editable-click"></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">产品类型 : </label>
                           <a href="javascript:;" id="ProductType" data-type="select"  data-placement="right" data-placeholder="必填" class="editable editable-click"></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">备注 /需求: </label>
                        <a href="javascript:;" id="remark" data-type="textarea"  data-placement="right" data-placeholder="必填" class="editable editable-click"></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">商机负责人 : </label>
                        <a href="javascript:;" id="salesUserName" data-type="text"  data-placement="right" data-placeholder="必填" class="editable editable-click editable-disabled"></a>
                    </div>

                </form>

            </div>

        </div>
    </div>

</div>
