<link href="assets/css/init.css" rel="stylesheet">
<link href="assets/css/dynamic.css" rel="stylesheet">
<link href="assets/css/edit.css" rel="stylesheet">
<style type="text/css">
    body {
        background: #f0f5f7;
    }
    .btn-default {
        min-width: 50px;
    }
    .text-primary {
        color: #15baff;
    }
    .day-color {
        color: #ffffff;
        position: absolute;
        margin-left: -26px;
        display: inline-block;
        height: 24px;
        line-height: 24px;
        font-size: 14px;
    }
    .day-color:before {
        content: "";
        position: absolute;
        top: -10px;
        border: 5px solid transparent;
        border-bottom-width: 5px;
        border-right-color: #ca8b1e;
        border-bottom-color: #ca8b1e;
    }
    .day-color-other {
        color: #ffffff;
        position: absolute;
        margin-left: -26px;
        display: inline-block;
        height: 24px;
        line-height: 24px;
        font-size: 14px;
    }
    .day-color-other:before {
        content: "";
        position: absolute;
        top: -10px;
        border: 5px solid transparent;
        border-bottom-width: 5px;
        border-right-color: #737373;
        border-bottom-color: #737373;
    }
    .text-danger {
        color: #ff5050;
    }
    a {
        color: #15baff;
    }
    .row {
        margin-top: 10px;
    }
    .list-group-item {
        background: #f5f5f5;
    }
    #edit .col-sm-12 {
        padding: 0 56px 0 15px;
    }
    .bg-primary {
        color: #5A5A5A;
    }

</style>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="panel panel-default">
            <ol class="breadcrumb">
                <li>
                    <h1>跟进动态</h1>
                </li>
                <li class="active">
                    <small><span id="titlee"> </span></small>
                </li>
                <li style="float: right;">
                    <a href="javascript:history.back();">返回</a>
                </li>
            </ol>
            <div class="panel-body">
                <form class="form-horizontal hide" id="edit">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <textarea class="form-control" cols="30" rows="5" id="dynamicContent"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-7"></div>
                        <div >
                            <label class="col-sm-2 control-label">类型 : <span style="color:red">（*）</span></label>
                            <div class="col-sm-2">
                                <select class="form-control" id="dynamicType">
                                    <option value="00">请选择</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-1 ">
                            <button class="btn btn-info" type="button" id="submit" onclick="addDynamic()">
                                发布
                            </button>
                        </div>
                    </div>
                </form>
                <div class="panel " >
                    <div class="panel-heading"></div>
                    <div id="list"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/assets/common/dynamicInit.js"></script>
