<div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-default">
                    <div class="">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">客户名称: </label>
                                <div class="col-sm-6"><div class="form-control1  u-word" id="companyName"></div></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">联系人: </label>
                                <div class="col-sm-6"><div type="text" class="form-control1" id="contactName"></div></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">手机: </label>
                                <div class="col-sm-6"><div type="text" class="form-control1" id="mobile"></div></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">电话: </label>
                                <div class="col-sm-6"><div type="text" class="form-control1" id="teleNo"></div></div>
                            </div>
                             <div class="form-group">
                                <label class="col-sm-2 control-label">所属团队 : </label>
                                <div class="col-sm-5">
                                    <div class="form-control1" id="region1" required onchange="provinceBelong()">
                                    </div>
                                </div>
                            </div>
                             <div class="form-group">
                                <label class="col-sm-2 control-label">行业类别 : </label>
                                <div class="col-sm-3">
                                    <div class="form-control1" id="profession1">
                                    </div>
                                </div>
                            </div>
                             <div class="form-group">
                                <label class="col-sm-2 control-label">所属省份 : </label>
                                <div class="col-sm-3">
                                    <div class="form-control1" id="province1">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">QQ: </label>
                                <div class="col-sm-6"><div type="text" class="form-control1" id="QQ"></div></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">微信: </label>
                                <div class="col-sm-6"><div type="text" class="form-control1" id="weChat"></div></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">邮箱: </label>
                                <div class="col-sm-6"><div type="text" class="form-control1" id="email"></div></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">部门: </label>
                                <div class="col-sm-6"><div type="text" class="form-control1" id="department"></div></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">职务: </label>
                                <div class="col-sm-6"><div type="text" class="form-control1" id="post"></div></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">数据来源 : </label>
                                <div class="col-sm-3">
                                    <div class="form-control1" id="dataSource1">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="meeting" style="display:none">
                                <label class="col-sm-2 control-label">会议名称: </label>
                                <div class="col-sm-6"><div type="text" class="form-control1" id="meetingName"></div></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">产品类型 : </label>
                                <div class="col-sm-3">
                                    <div class="form-control1" id="productType">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">客户级别 : </label>
                                <div class="col-sm-3">
                                    <div class="form-control1" id="Customerlevel">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">客户性质 : </label>
                                <div class="col-sm-3">
                                    <div class="form-control1" id="csmNature">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">客户规模 : </label>
                                <div class="col-sm-3">
                                    <div class="form-control1" id="csmScale">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">地址: </label>
                                <div class="col-sm-6"><div type="text" class="form-control1" id="address"></div></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">邮编: </label>
                                <div class="col-sm-6"><div type="text" class="form-control1" id="postcode"></div></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">官网: </label>
                                <div class="col-sm-6"><div type="text" class="form-control1" id="website"></div></div>
                            </div>
                            <!-- <div class="form-group">
                                <label class="col-sm-2 control-label">公司电话: </label>
                                <div class="col-sm-6"><div type="text" class="form-control1" id="companyTeleNo"></div></div>
                            </div> -->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">传真: </label>
                                <div class="col-sm-6"><div type="text" class="form-control1" id="fax"></div></div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">备注/需求 : </label>
                                <div class="col-sm-6" id="">
                                   <div type="text" class="form-control1" id="remark"></div>
                                </div>
                            </div>
                            <div class="form-group">
                               <label class="col-sm-2 control-label">负责人 : </label>
                                <div class="col-sm-6">
                                    <div class="form-control1" id="fzr"></div>
                                </div>
                            </div>

                        </form>

                    </div>
            </div>
        </div>
    </div>