<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="panel">
            <div class="">
                <form class="form-horizontal" id="clueDetail">
                    <div class="form-group"style="border-bottom: 1px solid #eff2f7;background: #F9F9F9;padding-bottom: 8px;">
                        <label class="col-sm-2 control-label" style="color: #3C8DBC;"><i class="fa fa-file-text-o" aria-hidden="true" style="margin-right: 6px;"></i>基本信息 </label>
                        <label class="col-sm-2 control-label" style="float: right;"><a href="javascript:;" class="field_edit_pen"><i class="fa fa-pencil" aria-hidden="true" style="margin-right: 4px;"></i>更多信息</a> </label>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">客户名称 : </label>
                        <a href="javascript:;" id="companyName" data-type="text"  data-placement="right" data-placeholder="必填" class="editable editable-click"></a>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">联系人 : </label>
                        <a href="javascript:;" id="contactName" data-type="text"  data-placement="right" data-placeholder="必填" class="editable editable-click"></a>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">手机 : </label>
                        <a href="javascript:;" id="mobile" data-type="text"  data-placement="right" data-placeholder="必填" class="editable editable-click"></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">电话 : </label>
                        <a href="javascript:;" id="teleNo" data-type="text"  data-placement="right" data-placeholder="必填" class="editable editable-click"></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">所属团队 : </label>
                        <a href="javascript:;" id="region" data-type="select"  data-placement="right" data-placeholder="必填" class="editable editable-click"></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">行业类别 : </label>
                        <a href="javascript:;" id="eprofession" data-type="select"  data-placement="right" data-placeholder="必填" class="editable editable-click"></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">所属省份 : </label>
                        <a href="javascript:;" id="province" data-type="select"  data-placement="right" data-placeholder="必填" class="editable editable-click"></a>
                    </div>
                    <div class="form-group"style="border-bottom: 1px solid #eff2f7;background: #F9F9F9;padding-bottom: 8px;">
                        <label class="col-sm-2 control-label" style="color: #3C8DBC;"><i class="fa fa-file-text-o" aria-hidden="true" style="margin-right: 6px;"></i>扩展信息 </label>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">QQ : </label>
                        <a href="javascript:;" id="QQ" data-type="text"  data-placement="right" data-placeholder="QQ" class="editable editable-click"></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">微信 : </label>
                        <a href="javascript:;" id="weChat" data-type="text"  data-placement="right" data-placeholder="微信" class="editable editable-click"></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">邮箱 : </label>
                        <a href="javascript:;" id="email" data-type="text"  data-placement="right" data-placeholder="邮箱" class="editable editable-click"></a>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">部门 : </label>
                        <a href="javascript:;" id="department" data-type="text"  data-placement="right" data-placeholder="必填" class="editable editable-click"></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">职务 : </label>
                        <a href="javascript:;" id="post" data-type="text"  data-placement="right" data-placeholder="必填" class="editable editable-click"></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">线索来源 : </label>
                        <a href="javascript:;" id="dataSource" data-type="select"  data-placement="right" data-placeholder="必填" class="editable editable-click"></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">产品类型 : </label>
                        <a href="javascript:;" id="productType" data-type="select"  data-placement="right" data-placeholder="必填" class="editable editable-click"></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">客户级别 : </label>
                        <a href="javascript:;" id="level" data-type="select"  data-placement="right" data-placeholder="必填" class="editable editable-click"></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">客户性质 : </label>
                        <a href="javascript:;" id="csmNature" data-type="select"  data-placement="right" data-placeholder="必填" class="editable editable-click"></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">客户规模 : </label>
                        <a href="javascript:;" id="csmScale" data-type="select"  data-placement="right" data-placeholder="必填" class="editable editable-click"></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">地址 : </label>
                        <a href="javascript:;" id="address" data-type="text"  data-placement="right" data-placeholder="地址" class="editable editable-click"></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">邮编 : </label>
                        <a href="javascript:;" id="postcode" data-type="text"  data-placement="right" data-placeholder="邮编" class="editable editable-click"></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">官网 : </label>
                       <a href="javascript:;" id="website" data-type="text"  data-placement="right" data-placeholder="官网" class="editable editable-click"></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">传真 : </label>
                        <a href="javascript:;" id="fax" data-type="text"  data-placement="right" data-placeholder="传真" class="editable editable-click"></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">备注/需求 : </label>
                        <a href="javascript:;" id="remark" data-type="textarea"  data-placement="right" data-placeholder="备注/需求" class="editable editable-click"></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">线索上报人 : </label>
                        <div class="col-sm-10 u-word" id="marketUserName"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">上报时间 : </label>
                        <div class="col-sm-10 u-word" id="reportTime"></div>
                    </div>
                    <div class="form-group" id="assignerName1">
                        <label class="col-sm-2 control-label">线索分配人 : </label>
                        <div class="col-sm-10 u-word" id="assignerName"></div>
                    </div>
                    <div class="form-group"id="distributionTime1">
                        <label class="col-sm-2 control-label">分配时间 : </label>
                        <div class="col-sm-10 u-word" id="distributionTime"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">线索负责人 : </label>
                        <div class="col-sm-10 u-word" id="salesUserName"></div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">线索状态 : </label>
                        <div class="col-sm-10 u-word" id="clueState1"></div>
                    </div>
                    <div class="form-group" id="closeReason1">
                        <label class="col-sm-2 control-label">不合格原因 : </label>
                        <div class="col-sm-10 u-word" id="closeReason"></div>
                    </div>

                </form>

            </div>

        </div>
    </div>

</div>
<script type="text/javascript" charset="utf-8">
    function back() {
        appRouter.navigate("offical", {
            trigger : true
        });
    }

</script>