<div class="row l-mark-data">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>我下属的线索</h5>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left dropdown">
                        <a  class="btn btn-primary dropdown-toggle l-dropdown-toggle" data-toggle="dropdown"> 查询 <span class="caret"></span></a>

                        <ul class="dropdown-menu" aria-labelledby="searchbtn" style="min-width: 710px;padding-right: 22px;">
                            <li role="presentation">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">选择线索类型:</label>
                                        <div class="col-sm-4" style="padding-right: 0px;">
                                            <select class="form-control" id="clueType">
                                                <option value="">选择线索类型</option>
                                            </select>
                                        </div>

                                        <label class="col-sm-2 control-label">选择行业类别:</label>
                                        <div class="col-sm-4" style="padding-right: 0px;">
                                            <select class="form-control" id="profession">
                                                <option value="">选择行业类别</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">选择所属团队:</label>
                                        <div class="col-sm-4" style="padding-right: 0px;">
                                            <select class="form-control" id="bigRegions">
                                                <option value="">选择所属团队</option>
                                            </select>
                                        </div>

                                        <label class="col-sm-2 control-label">选择线索状态:</label>
                                        <div class="col-sm-4" style="padding-right: 0px;">
                                                <select class="form-control" id="clueState">
                                                    <option value="">选择线索状态</option>
                                                </select>
                                         </div>
                                    </div>

                                    <div class="form-group">

                                        <label class="col-sm-2 control-label">客户名称:</label>
                                        <div class="col-sm-4" style="padding-right: 0px;">

                                            <input class="form-control" placeholder="客户名称/联系人" type="text" id="csmName"/>
                                        </div>
                                        
                                        
                                         <label class="col-sm-2 control-label">线索负责人:</label>
                                        <div class="col-sm-4" style="padding-right: 0px;">

                                             <input class="form-control" placeholder="线索负责人" type="text" id="people"/>
                                        </div>
                                        
                                    </div>
                                    
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10" style="text-align: right;">
                                            <button type="button" class="btn btn-success" data-toggle="dropdown" id="searchbtn" >
                                                查询
                                            </button>
                                            <button type="button" class="btn btn-warning" id="clear">
                                                重置
                                            </button>
                                            <button type="button" class="btn btn-default" data-toggle="dropdown" id="cancel">
                                                取消
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="pull-right" style="margin-right:20px;">
                        <div class="row btn-group" id="btnWrapper"></div>
                    </div>
                </div>
            </div>
            
            <div class="row l-table">
                <table id="datatable" class="table table-striped table-responsive table-hover">

                </table>
            </div>
        </div>
    </div>
</div>
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="pushRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="row">
                <div class="col-md-7 col-sm-7">
                    <h4 id="contactTitle" class="detail_title"></h4>
                    <div style="border-bottom: 1px solid #ededed; position: absolute;width: 100%;left: 0;top: 30px;">
                    </div>
                    <div class="detail_title" id="contactNameDetail" style="margin-top:24px;"><span id="contactMobi">1</span><b style="display: none;">|<b style="display: none;"><span id="contactTele" style="display: none;"></span></b></b></div>
                    <div class="title_important_info" style="margin-top:36px;"></div>
                </div>
                <div class="col-md-5 col-sm-5" style="text-align: right;" id="buttons">
                   
                </div>
            </div>
        </div>
    </div>
    <div class="ibox-content" style="border-width: 2px 0px;border-color: #dddddd;">
        <ul class="list-unstyled list-inline" style="border-bottom: 1px solid #eaeaea;">

            <li class="">
                <a href="javascript:;"><span id="clueInfo" class="hvr-underline-from-left" style="padding-bottom: 10px;"> 详细信息 </span></a>
            </li>
            <li class="">
                <a href="javascript:;"><span id="clueDynamic" class="hvr-underline-from-left" style="padding-bottom: 10px;"> 跟进动态 </span></a>
            </li>
            
        </ul>
        <div class="" id="partnerDetail">
            <div id="detailpartdiv"></div>
        </div>
    </div>
</nav>
<div id="mask" class="mask"></div>

  
   
