<style type="text/css">
.col-sm-2 {
  padding-right: 0px;
}



#edit .control-label {
  text-align: left;
}

.col-sm-2 {
  padding-right: 0px;
}

.file {
  position: relative;
  display: inline-block;
  background: #D0EEFF;
  border: 1px solid #99D3F5;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #1E88C7;
  text-decoration: none;
  text-indent: 0;
  line-height: 20px;
}

.file input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
}

.file:hover {
  background: #AADFFD;
  border-color: #78C3F3;
  color: #004974;
  text-decoration: none;
}
.form-horizontal .form-group{
    padding-left: 28px;
}
.fa-pencil-square-o {
    font-size: 1em;
    color: #3C8DBC;
    margin-top: 10px;
}
.field_edit_pen{
    font-size: 12px;
    color:#999999;
}
</style>
<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <form class="form-horizontal" id="editpart">
          <div class="form-group" style="border-bottom: 1px solid #eff2f7;background: #F9F9F9;padding-bottom: 8px;">
            <span class="text-danger" style="float: left; margin-top: 6px;"> <i class="fa fa-pencil" style="color:#3C8DBC"></i></span>
            <label class="col-sm-2 control-label" style="color: #3C8DBC;">基本信息 </label>
            <!-- <label class="col-sm-2 control-label" style="float: right;"><a href="javascript:;" class="field_edit_pen"><i class="fa fa-pencil" aria-hidden="true"></i>更多信息</a> </label> -->
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">企业名称: </label>
            <div class="col-sm-6">
                <a href="javascript:;" id="_companyName" data-type="text"  data-placement="right" data-placeholder="必填" class="editable editable-click" data-original-title="" title="" ></a> 
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">联系人: </label>
            <div class="col-sm-6">
                 <a href="javascript:;" id="_contactName" data-type="text"  data-placement="right" data-placeholder="必填" class="editable editable-click" data-original-title="" title="" ></a>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">手机: </label>
            <div class="col-sm-6">
       <a href="javascript:;" id="_mobile" data-type="text"  data-placement="right" data-placeholder="必填" class="editable editable-click" data-original-title="" title="" ></a>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">电话: </label>
            <div class="col-sm-6">
             <a href="javascript:;" id="_teleNo" data-type="text"  data-placement="right" data-placeholder="必填" class="editable editable-click" data-original-title="" title="" ></a>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" style="padding-right:6px;">所属团队 : </label>
            <div class="col-sm-6">
            <a href="javascript:;" id="_region" data-type="select"  data-placement="right" data-placeholder="必填" class="editable editable-click" data-original-title="" title="" ></a>
            </div>
          </div>
          <div class="form-group">
                    <label class="col-sm-2 control-label" style="padding-right:6px;">所在地区 : </label>
                    <div class="col-sm-6">
                   <div id="e_city_1">
                       <select class="prov form-control" style="display: inline-block;width:50%;" name="prov"></select> 
                    <select class="city form-control" disabled="disabled"></select>
                    <!-- <a href="#" id="e_prov" data-type="select"  data-title="" class="editable editable-click" style="display: inline;"></a>
                    <a href="#" id="e_city" data-type="select"  data-title="" class="editable editable-click" style="display: inline;"></a> -->
                   </div>
                    </div>
            </div>
          <div class="form-group" style=" ">
            <label class="col-sm-2 control-label">联系地址: </label>
            <div class="col-sm-6">
             <a href="javascript:;" id="_address" data-type="text"  data-placement="right" data-placeholder="Required" class="editable editable-click" data-original-title="" title="" ></a>    
            </div>
          </div>
          <div class="form-group" style=" ">
            <label class="col-sm-2 control-label">邮编: </label>
            <div class="col-sm-6">
                  <a href="javascript:;" id="_postcode" data-type="text"  data-placement="right" data-placeholder="Required" class="editable editable-click" data-original-title="" title="" ></a>  
            </div>
          </div>
          <div class="form-group" style=" ">
            <label class="col-sm-2 control-label">企业法人: </label>
            <div class="col-sm-6">
               <a href="javascript:;" id="_legalPerson" data-type="text"  data-placement="right" data-placeholder="Required" class="editable editable-click" data-original-title="" title="" ></a> 
            </div>
          </div>
          <div class="form-group" style=" ">
            <label class="col-sm-2 control-label">注册资金: </label>
            <div class="col-sm-6">
             <a href="javascript:;" id="_registerFund" data-type="text"  data-placement="right" data-placeholder="Required" class="editable editable-click" data-original-title="" title="" ></a> 
            </div>
          </div>
          <div class="form-group" style=" ">
            <label class="col-sm-2 control-label">授权地区: </label>
            <div class="col-sm-6">
            <a href="javascript:;" id="_authorityRegion" data-type="text"  data-placement="right" data-placeholder="Required" class="editable editable-click" data-original-title="" title="" ></a> 
            </div>
          </div>
          <div class="form-group" style=" ">
            <label class="col-sm-2 control-label">授权行业: </label>
            <div class="col-sm-6">
             <a href="javascript:;" id="_authorityProfession" data-type="text"  data-placement="right" data-placeholder="Required" class="editable editable-click" data-original-title="" title="" ></a> 
            </div>
          </div>
          <div class="form-group" style=" ">
            <label class="col-sm-2 control-label">授权期限: </label>
            <div class="col-sm-7">
             <a href="javascript:;" id="_startTime" data-type="text"  data-placement="right" data-placeholder="Required" class="editable editable-click" data-original-title="" title="" ></a> 
             <span class="">至</span>
             <a href="javascript:;" id="_endTime" data-type="text"  data-placement="right" data-placeholder="Required" class="editable editable-click" data-original-title="" title="" ></a> 
            </div>
          </div>
          <div class="form-group" style=" ">
            <label class="col-sm-2 control-label">代理权限: </label>
            <div class="col-sm-6">
             <a href="javascript:;" id="_agencyAuthority" data-type="select"  data-placement="right" data-placeholder="Required" class="editable editable-click" data-original-title="" title="" ></a> 
            </div>
          </div>
          <div class="form-group" style=" ">
            <label class="col-sm-2 control-label">保证金: </label>
            <div class="col-sm-6">
                  <a href="javascript:;" id="_pledgeMoney" data-type="text"  data-placement="right" data-placeholder="Required" class="editable editable-click" data-original-title="" title="" ></a> 
            </div>
          </div>
          <div class="form-group" style=" ">
            <label class="col-sm-2 control-label">产品折扣: </label>
            <div class="col-sm-6">
                  <a href="javascript:;" id="_productDiscount" data-type="select"  data-placement="right" data-placeholder="Required" class="editable editable-click" data-original-title="" title="" ></a>
                   <a href="javascript:;" id="_remark" data-type="text"  data-placement="right" data-placeholder="Required" class="editable editable-click" data-original-title="" title="" ></a>  
            </div>
          </div>
          <div class="form-group" style=" ">
            <label class="col-sm-2 control-label">价格 : </label>
            <div class="col-sm-6">
                 <a href="#" id="_price" data-type="text" class="editable editable-click"></a>
            </div>
          </div>
          <div class="form-group" style=" ">
            <label class="col-sm-2 control-label" >任务额 : </label>
            <div class="col-sm-6">
                 <a href="#" id="_taskAmount" data-type="text" class="editable editable-click"></a>
            </div>
          </div>
          <div class="form-group" style=" ">
            <label class="col-sm-2 control-label">合同类型 : </label>
            <div class="col-sm-6">
                 <a href="#" id="_contractType" data-type="select" class="editable editable-click"></a>
            </div>
          </div>
          <div class="form-group" style="border-bottom: 1px solid #eff2f7;background: #F9F9F9;padding-bottom: 8px;">
            <span class="text-danger" style="float: left; margin-top: 6px;"> <i class="fa fa-pencil" style="color:#3C8DBC"></i></span>
            <label class="col-sm-2 control-label" style="color: #3C8DBC;">资质附件 </label>
          </div>
        </form>
        <div class="form-group" style=" ">
          <div class="col-sm-10" id="uppictrs" align="left"></div>
          <a href="javascript:;" class="file">选择文件
                    <div id="upload" >
                        <span id="uploadSpan">
                            <form method="post" action="" id="editimgForm" enctype="multipart/form-data" >
                                <input type="file" name="uploadFile" id="imgFile" onchange="enterpriseViewInstance.editpreview(this.value)" accept="image/*"/>
                            </form> 
                        </span>
                    </div> 
               </a>
        </div>
      </div>
    </div>
  </div>
</div>
<script id="delTemplate" type="text/template">
  <div class="panel-body" style="font-size: 16px;">
    确定要删除吗？
  </div>
</script>
<!-- 分配伙伴 -->
<script id="organizationTemplate" type="text/template">
  <div class="panel-body">
    <form class="form-horizontal">
      <div class="form-group uhide">
        <div class="form-group uhide">
          <label class="col-sm-2 control-label">所属团队 : </label>
          <div class="col-sm-6">
            <select class="form-control" data-info="" id="tmplTeam">
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">转交给 : </label>
          <div class="col-sm-6">
            <select class="form-control" id="tmplAssigner">
            </select>
          </div>
        </div>
    </form>
    </div>
</script>
