<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="panel panel-default" style="margin: 10px 10px;">
            <div class="panel-body">
                <form class="form-horizontal" style="padding: 0px 20px;">
                    <div class="form-group" style="border-bottom: 1px solid #eff2f7;background: #F9F9F9;padding-bottom: 8px;">
                        <span class="text-danger" style="float: left; margin-top: 6px;"> <i class="fa fa-eye" style="color:#3C8DBC"></i></span>
                        <label class="col-sm-2 control-label" style="color: #3C8DBC;text-align: left;">基本信息 </label>
                        <!-- <div class="col-md-9 col-sm-9" id="basicInfo" style="margin-top: 10px;text-align: right;">
                        </div> -->
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">企业名称: </label>
                        <div class="col-sm-6">
                            <div class="form-control1  u-word" id="companyName"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">联系人: </label>
                        <div class="col-sm-6">
                            <div type="text" class="form-control1" id="contactName"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">手机: </label>
                        <div class="col-sm-6">
                            <div type="text" class="form-control1" id="mobile"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">电话: </label>
                        <div class="col-sm-6">
                            <div type="text" class="form-control1" id="teleNo"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">所属团队 : </label>
                        <div class="col-sm-5">
                            <div class="form-control1" id="region1" required ></div>
                        </div>
                    </div>
                    <div class="form-group" style="border-bottom: 1px solid #eff2f7;background: #F9F9F9;padding-bottom: 8px;">
                        <span class="text-danger" style="float: left; margin-top: 6px;"> <i class="fa fa-eye" style="color:#3C8DBC"></i></span>
                        <label class="col-sm-2 control-label" style="color: #3C8DBC;text-align: left;">扩展信息 </label>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">级别 : </label>
                        <div class="col-sm-3">
                            <div class="form-control1" id="level"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">联系地址 : </label>
                        <div class="col-sm-3">
                            <div class="form-control1" id="address"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">邮编: </label>
                        <div class="col-sm-6">
                            <div type="text" class="form-control1" id="postcode"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">企业法人: </label>
                        <div class="col-sm-6">
                            <div type="text" class="form-control1" id="legalPerson"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">注册资金: </label>
                        <div class="col-sm-6">
                            <div type="text" class="form-control1" id="registerFund"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">年度收入额: </label>
                        <div class="col-sm-6">
                            <div type="text" class="form-control1" id="yearIncome"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">企业规模: </label>
                        <div class="col-sm-6">
                            <div type="text" class="form-control1" id="csmScale"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">官网: </label>
                        <div class="col-sm-6">
                            <div type="text" class="form-control1" id="website"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">投诉电话: </label>
                        <div class="col-sm-6">
                            <div type="text" class="form-control1" id="complainTeleNo"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">传真电话 : </label>
                        <div class="col-sm-3">
                            <div class="form-control1" id="fax"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">企业代码 : </label>
                        <div class="col-sm-3">
                            <div class="form-control1" id="enterpriseCode"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">主营业务 : </label>
                        <div class="col-sm-3">
                            <div class="form-control1" id="operation"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">业务介绍 : </label>
                        <div class="col-sm-3">
                            <div class="form-control1" id="introduce"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">人员组成 : </label>
                        <div class="col-sm-3">
                            <div class="form-control1" id="personConstitute"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">相关案例介绍 : </label>
                        <div class="col-sm-6" id="">
                            <div type="text" class="form-control1" id="caseIntroduce"></div>
                        </div>
                    </div>
                    <div class="form-group" style="border-bottom: 1px solid #eff2f7;background: #F9F9F9;padding-bottom: 8px;">
                        <span class="text-danger" style="float: left; margin-top: 6px;"> <i class="fa fa-eye" style="color:#3C8DBC"></i></span>
                        <label class="col-sm-2 control-label" style="color: #3C8DBC;text-align: left;">资质附件 </label>
                    </div>
                </form>
                <div class="form-group" align="center">
                    <label class="col-sm-2 control-label">&nbsp;</label>
                    <div class="col-sm-3">
                        <table border="0px" width="100%" >

                            <tr >
                                <td align="left">
                                <table border="0px" >

                                    <tr id="_uppictr" ></tr>
                                </table></td>

                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>