/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        z-index: 990;
        display: block;
        padding: 0 0 0 4px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        /*background-color: #3C4B5F;*/
        /*background-color: #1a2226;*/
       background-color:#424f62;
        border-right: 1px solid #eee;
    }
    
}

/*sidebar navigation*/
.sidebar ul li {
    position: relative;
}

.sidebar .sub-menu > .sub li {
    padding-left: 32px;
}

.sidebar .sub-menu > .sub li:last-child {
    padding-bottom: 10px;
}

/*LEFT NAVIGATION ICON*/
/*.fold-icon:before {
    content: "\e601";
}
.active .fold-icon:before {
    content: "\e602";
}*/

.fold-icon {
    height: 17px;
    width: 17px;
    display: inline-block;
    background: url(../../img/nav-expand.png) no-repeat top;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    position: absolute;
    right: 10px;
    top: 15px;
}

.active .fold-icon {
   background: url(../../img/nav-expand.png) no-repeat bottom;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/*---*/
.nav-collapse {
    overflow: none;
    /*height: 100%;
     width: 100%;*/
}
.nav-collapse ul {
    list-style: none;
}
.nav-collapse ul li {
    padding: 0;
    margin: 0;
    font-size: 12px;
}
.nav-collapse ul li a {
    text-decoration: none;
    color: #fff;
}
.nav-collapse ul li a:hover {
    color: red;
}
.nav-collapse.collapse {
    display: inline;
}

ul.sidebar-menu, ul.sidebar-menu li ul.sub {
    margin: -2px 0 0;
    padding: 0;
}

ul.sidebar-menu {
    margin-top: 40px;
}

.sidebar > ul > li > ul.sub {
    display: none;
}

.sidebar > ul > li.active > ul.sub, .sidebar > ul > li > ul.sub > li > a {
    display: block;
}

ul.sidebar-menu li ul.sub li {
    /*background: #35404D;*/
   /*background: #1e282c;*/
  background:#545e75;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ul.sidebar-menu li ul.sub li:last-child {
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

ul.sidebar-menu li ul.sub li a {
    font-size: 12px;
    padding: 6px 0;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #aeb2b7;
}

ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
    color: #FF6C60;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

ul.sidebar-menu li {
    /*line-height: 20px !important;*/
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

ul.sidebar-menu li.sub-menu {
    line-height: 15px;
}

ul.sidebar-menu li a span {
    display: inline-block;
}

ul.sidebar-menu li a {
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 14px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    /*background: #35404d;*/
    color: #fff;
    display: block;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a i {
    font-size: 15px;
    padding-right: 6px;
}

ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
    color: #FF6C60;
}

ul.sidebar-menu li a.active i {
    color: #FF6C60;
}

.mail-info, .mail-info:hover {
    margin: -3px 6px 0 0;
    font-size: 11px;
}
ul.sidebar-menu>li>a.active {
    /*background: #35404d;*/
    color: #fff;
    display: block;
    border-left: 3px solid transparent;
    /*background: #1e282c;*/
    background:#545e75;
    border-left-color: #80b3fd;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
    /* color: #FF6C60; */
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
    color: #fff;
}
