
.ui-sortable .ibox-title {
  cursor: move
}

.ui-sortable-placeholder {
  border: 1px dashed #cecece!important;
  visibility: visible!important;
  background: #e7eaec
}

.ibox.ui-sortable-placeholder {
  margin: 0 0 23px!important
}
.ibox {
  clear: both;
  /*margin-bottom: 25px;*/
  margin-top: 0;
  padding: 0
}

.ibox.collapsed .ibox-content {
  display: none
}

.ibox.collapsed .fa.fa-chevron-up:before {
  content: "\f078"
}

.ibox.collapsed .fa.fa-chevron-down:before {
  content: "\f077"
}

.ibox:after,
.ibox:before {
  display: table
}

.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #fff;
  border-color: #a7cced;
  -webkit-border-image: none;
  -o-border-image: none;
  border-image: none;
  border-style: solid solid none;
  border-width: 4px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px
}

.ibox-content {
  background-color: #fff;
  color: inherit;
  padding: 15px 20px 20px;
  border-color: #e7eaec;
  -webkit-border-image: none;
  -o-border-image: none;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0
}

table.table-mail tr td {
  padding: 12px
}

.table-mail .check-mail {
  padding-left: 20px
}

.table-mail .mail-date {
  padding-right: 20px
}

.check-mail,
.star-mail {
  width: 40px
}

.unread td,
.unread td a {
  font-weight: 600;
  color: inherit
}

.read td,
.read td a {
  font-weight: 400;
  color: inherit
}

.unread td {
  background-color: #f9f8f8
}

.ibox-content {
  clear: both
}

.ibox-heading {
  background-color: #f3f6fb;
  border-bottom: none
}

.ibox-heading h3 {
  font-weight: 200;
  font-size: 24px
}

.ibox-title h5 {
  display: inline-block;
  font-size: 16px;
  margin: 0 0 7px;
  padding: 0;
  text-overflow: ellipsis;
  float: left;
  font-weight: bold;
}

.ibox-title .label {
  float: left;
  margin-left: 4px
}

.ibox-tools {
  display: inline-block;
  float: right;
  margin-top: 0;
  position: relative;
  padding: 0
}

.ibox-tools a {
  cursor: pointer;
  margin-left: 5px;
  color: #c4c4c4
}

.ibox-tools a.btn-primary {
  color: #fff
}
.ibox-title #title{
    margin-top:0px;
}
#customerNameDetail{
    margin-top:24px;
}
.title_important_info{
     margin-top:16px;
     padding-bottom: 20px;
}
