<div class="row">
    <div class="tab-content">
        <div id="contentdiv" class="tab-pane fade in active" >
            <div class="row l-mark-data">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>我分配的线索</h5>
                    </div>
                    <div class="ibox-content">
                        <div id="unallot" class="tab-pane fade in active" ></div>
                        <div id="alloted" class="tab-pane fade"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--
<div class="row">
    <div class="tab-content">
        <div id="contentdiv" class="tab-pane fade in active" >
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class=""> 我分配的线索 </h4>
                        </div>
                        <div class="panel-body">
                            <ul class="nav nav-tabs" id="myTab">
                                <li class="active">
                                    <a  href="#unallot"> 待分配 </a>
                                </li>
                                <li>
                                    <a  href="#alloted"> 已分配 </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="unallot" class="tab-pane fade in active" ></div>
                                <div id="alloted" class="tab-pane fade"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->