<div class="row">
    <div class="tab-content">
        <div id="contentdiv" class="tab-pane fade in active" >
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class=""> 我上报的线索 </h4>
                        </div>
                        <div class="panel-body">
                            <ul class="nav nav-tabs" id="myTab">
                                <li class="active">
                                    <a  href="#notAssign" class="notAssign"> 待分配 </a>
                                </li>

                                <li>
                                    <a  href="#assign" class="assign"> 已分配 </a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                <div id="notAssign" class="notAssign tab-pane fade in active" ></div>
                                <div id="assign" class="assign tab-pane fade"></div>
                            </div>
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div>
        </div>

    </div>
</div>

