<div class="row">

    <div class="tab-content">
        <div id="contentdiv" class="tab-pane fade in active" >
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class=""> 营销数据管理 </h4>
                        </div>
                        <div class="panel-body">
                            <ul class="nav nav-tabs" id="myTab">
                                <li class="active">
                                    <a  href="#offical"> 正式数据 </a>
                                </li>

                                <li>
                                    <a  href="#pending"> 待确认数据 </a>
                                </li>

                            </ul>

                            <div class="tab-content">
                                <div id="offical" class="tab-pane fade in active" ></div>
                                <div id="pending" class="tab-pane fade"></div>
                            </div>
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div>
        </div>

    </div>
</div>

