<section>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active">
                            <a href="#pmarketing"> 个人营销动态汇总</a>
                        </li>
                        <li>
                            <a href="#pclue">个人线索动态汇总</a>
                        </li>
                        <li>
                            <a href="#pbusiness">个人商机动态汇总</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="pmarketing">

                        </div>
                        <div class="tab-pane fade" id="pclue">

                        </div>
                        <div class="tab-pane fade" id="pbusiness">

                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- <script src="assets/models/baseTableClueModel.js"></script> -->

