<section>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active">
                            <a href="#tmarketing"> 团队营销动态汇总</a>
                        </li>
                        <li>
                            <a href="#tclue">团队线索动态汇总</a>
                        </li>
                        <li>
                            <a href="#tbusiness">团队商机动态汇总</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="tmarketing">

                        </div>
                        <div class="tab-pane fade" id="tclue">

                        </div>
                        <div class="tab-pane fade" id="tbusiness">

                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

